/*#####################################FONTS#################################*/


/* ubuntu-300 - latin */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url('../fonts/ubuntu/ubuntu-v10-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu/ubuntu-v10-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ubuntu-300italic - latin */

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url('../fonts/ubuntu/ubuntu-v10-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu/ubuntu-v10-latin-300italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ubuntu-700 - latin */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntu/ubuntu-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu/ubuntu-v10-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ubuntu-700italic - latin */

@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('../fonts/ubuntu/ubuntu-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu/ubuntu-v10-latin-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*.....................................GENERAL.................................*/
body {
  background-color: #0B0C10;
}


/*.....................................BUTTONS.................................*/

.rhysBtn {
    -moz-box-shadow: 0px 2px 0px 1px #222629;
    -webkit-box-shadow: 0px 2px 0px 1px #222629;
    box-shadow: 0px 0px 1px 1px #222629;
    background-color: rgba(255, 255, 255, .0);
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #61892f;
    display: inline-block;
    cursor: pointer;
    color: #86C232;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    padding: 14px 24px;
    text-decoration: none;
}

.rhysBtn:hover {
    background-color: #61892f;
    color: #ccc2a6;
    text-decoration: none;
}

.rhysBtn:active {
    position: relative;
    top: 1px;
    text-decoration: none;
}


/*#####################################LANDING################################*/
div.landingBox{
  background-color: #0B0C10;
}

Carousel.landingCoursel {
  align-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

video.landingVideo {
  height: 100;
  width: 100%;
  
}

h1.lapseLogo {
    font-family: 'Megrim', cursive;
    color: #86C232;
}

.landingJumbo {
  width: 100%;
  height: 1000px;
  background-color:#0B0C10;
}

.landingP {
    font-family: 'Ubuntu', ubuntu-light;
    font-style: light;
    font-weight: 100;
    font-size: '10px';
    color: #ccc2a6;
}

/*************************************SIGNIN***********************************/
.signInMain {
  background-color: #0B0C10;
}


/***********************************DASHBOARD**********************************/
.postBoxParent{
  height: 50.0em;
  width: 35.0em;
}

.postBox {
  background-color: #222629;
  border: 2px solid #61892f;
  display: inline-block;
  color: #86C232;
  font-family: Ubuntu;
  text-decoration: none;
  align-content: center;
  margin: 1em 0em;
  z-index: 2;
}

.postTitle{
  margin-left: 0.8em;
  display: inline-block;
  font-family: 'Megrim', cursive;
  color: #86C232;
}

.postDesc {
  margin-left: 2.0em;
  display: inline-flex;
  font-family: 'Ubuntu';
  color: #FF652F;
  align-content: center;
  height: 3.6em;
  width: 29.6em;
}

.postUser{
  margin-top: 1.7em;
  margin-left: 1.3em;
  font-family: Ubuntu;
  color: #FF652F;
}

.postBtn{
  margin-left: 2.5em;
  margin-bottom: 1.0em;
}





/***********************************FORMS**************************************/
label.rhysLbl{
  font-family: 'Ubuntu', ubuntu-light;
  font-style: light;
  font-weight: 100;
  font-size: '10px';
  color: #86C232;
}

input.form-control.rhysField {
  background-color: transparent;
  color: #e5dfc5;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #86C232;
  border-bottom-style: groove;
  border-bottom-width: 2px;
}

input.form-control.rhysField:focus {
  background-color: transparent;
  color: #e5dfc5;
  box-shadow: none;


}
/*#####################################USERLAPSES#############################*/



video.userLapsePlayer{
  width: 350px;
  align-content: stretch;
}
/*#####################################NAVBAR#################################*/

img.navbar-link {
    /*height: 50px;*/
    width: 4.00em;
}

.navbar {
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0.5);
  font-family: 'Megrim', cursive;
    color: #86C232;
}


.video-player {
    width: 540px;
    align-content: stretch;
}


.postCommentBtn {
    margin-top: 2.3em;
    margin-right: 2.0em;
    font-family: Ubuntu;
    -moz-box-shadow: 0px 2px 0px 1px #222629;
    -webkit-box-shadow: 0px 2px 0px 1px #222629;
    box-shadow: 0px 0px 1px 1px #222629;
    background-color: rgba(255, 255, 255, .0);
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #61892f;
    display: inline-block;
    cursor: pointer;
    color: #86C232;
    font-family: Ubuntu;
    font-weight: 300;
    text-decoration: none;
}

.postCommentBtn:hover {
    background-color: #61892f;
    color: #ccc2a6;
    text-decoration: none;
}

.postCommentBtn:active {
    position: relative;
    top: 1px;
    text-decoration: none;
}

TextArea.form-control.rhysField {
  background-color: transparent;
  color: #e5dfc5;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #86C232;
  border-bottom-style: groove;
  border-bottom-width: 2px;
}

TextArea.form-control.rhysField:focus {
  background-color: transparent;
  color: #e5dfc5;
  box-shadow: none;
}
